@import '../variables/colors.css';
@import '../variables/dimens.css';

footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  text-align: center;
}

.footer__facebook .fb-icon, .footer__facebook a {
  display: inline-block;
  width: calc(var(--padding) * 1.5);
  height: calc(var(--padding) * 1.5);
}

@media (min-width: 740px) {

}
