@import '../variables/colors.css';

nav {
  width: 100%;
  background-color: var(--page-bg);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 24px 8px;
  line-height: 16px;
  text-decoration: none;
  color: var(--dark-grey);
}
