@import '../variables/colors.css';

nav {
  width: 100%;
  background-color: var(--page-bg);
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 24px 8px;
  line-height: 16px;
  text-decoration: none;
  color: var(--dark-grey);
}

.nav-icon, nav ul li.spacer {
  display: none;
}

@media (min-width: 560px) {
  nav ul {
    justify-content: flex-start;
  }
  nav ul li.spacer {
    display: inline-block;
    flex: 1;
  }

  .nav-icon {
    display: inline;
  }

  .nav-icon a, .nav-icon img {
    display: inline-block;
    width: 32px;
    height: 32px;
  }
}
