:root {
  --brand-grey: #e4e4e4;
  --second-brand-grey: #6e6e6e;
  --brand-green: #5fde4b;
  --dark-grey: #202020;

  --header-bg: var(--brand-grey);
  --footer-bg: var(--dark-grey);

  --page-bg: white;
}
