<footer>
  <div class="footer__content inner-content">
    <section class="footer__facebook">
      <a href="https://www.facebook.com/yourexclusivebuild/">Find us on <img class="fb-icon" src="/images/third_party/facebook-logo.min.svg" alt="Facebook" /></a>
    </section>

    <section class="footer__logo">
      {{> ../images/your-exclusive-build-logo-inverse.min.svg }}
    </section>

    <section class="footer__address">
      <p><strong>Your Exclusive Build Ltd</strong></p>
      <p>8 Sycamore Drive</p>
      <p>East Grinstead</p>
      <p>West Sussex</p>
      <p>RH19 3UJ</p>
      <p>United Kingdom</p>
    </section>
  </div>
</footer>
