<footer>
  <div class="footer__content inner-content">
    <section class="footer__facebook">
      Find us on <a href="https://www.facebook.com/yourexclusivebuild/"><img class="fb-icon" src="/images/third_party/facebook-logo.min.svg" alt="Facebook" /></a>
    </section>

    <section class="footer__address">
      <strong>Your Exclusive Build Ltd</strong><br />
      8 Sycamore Drive<br />
      East Grinstead<br />
      West Sussex<br />
      RH19 3UJ<br />
      United Kingdom
    </section>
  </div>
</footer>
