<footer>
  <div class="footer__content inner-content">
    <section class="footer__contact">
      <strong>Find us on:</strong><br />
      <a href="https://www.facebook.com/yourexclusivebuild/">Facebook</a><br />
      <br />
      <strong>Contact us at:</strong><br />
      <a href="mailto:yourexclusivebuildltd@gmail.com">yourexclusivebuildltd@gmail.com</a><br />
      <a href="tel:07825588356">07825588356</a>
    </section>

    <section class="footer__address">
      <strong>Your Exclusive Build Ltd</strong><br />
      8 Sycamore Drive<br />
      East Grinstead<br />
      West Sussex<br />
      RH19 3UJ<br />
      United Kingdom
    </section>
  </div>
</footer>
