<nav>
  <div class="nav-menu-icon">
    {{> ../images/menu.svg }}
  </div>

  <div class="nav-logo">
    <a href="/#home">
    {{> ../images/your-exclusive-build-logo.min.svg }}
    </a>
  </div>

  <ul class="nav-content">
    <li class="nav-content__title"><span class="nav-content__title">Menu</span></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/#services">Services</a></li>
    <li><a href="/#contact">Contact</a></li>
  </ul>
</nav>
