<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <meta name="Description" content="Your Exlcusive Build Ltd provide domestic
    building services in the West Sussex area. Services include: Extensions,
    house renovations, loft conversions, patios, driveways, fencing, landscaping
    and bathrooms.">
    <title>Your Exclusive Build Ltd</title>

    <link rel="stylesheet" media="all" href="/styles/main.css">
    <!-- TODO: Make this async -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body id="home">
    <nav>
      <ul class="inner-content">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <header>
      <h1>Your Exclusive Build</h1>
    </header>

    <main>
      <section id="about">
        <div class="inner-content">
          <h2>About Your Exclusive Build</h2>

          <p>
            We are a fully insured domestic building services company run by
            Michael Gaunt and Kerrin Fort, who have 17 years experience in the
            building industry. We pride ourselves in the quality of our
            workmanship and the quality of our service, from communicating with
            our customers to the build itself.
          </p>

          <p>
            Unlike other builders, we carry out the work ourselves and do
            not contract out to sub-contractors, meaning we'll be on site for
            95% of the job. Why is this important? It means we are in full
            control of the quality of work.
          </p>

          <p>
            To remove any stress and to save our clients time we can offer
            project management to ensure an efficient job. We have a close
            team of plumbers and electricians to make sure the job runs as
            smoothly as possible.
          </p>
        </div>
      </section>

      <section id="services">
        <div class="inner-content">
          <h2>Our Services</h2>

          <p>
            Here is a few examples of the works carried out by us. If there
            is anything that we have not listed please don't hesitate to
            contact us, and if we aren't able to do it we can most certainly
            point you in the right direction.
          </p>

          <ul>
            <li>Extensions</li>
            <li>House renovations</li>
            <li>Loft conversions</li>
            <li>Patios</li>
            <li>Driveways</li>
            <li>Fencing</li>
            <li>Landscaping</li>
            <li>Bathrooms</li>
          </ul>
        </div>
      </section>

      <section id="projects">
        <div class="inner-content">
          <h2>Projects</h2>

          {{> gallery/gallery.html}}
        </div>
      </section>

      <section id="contact">
        <div class="inner-content">
          <h2>Contact</h2>
          <div class="contact__flex">
            <div class="contact__form-container">
              <p>
                Please get in touch if you have any questions or would like a
                free quotation. We are more than willing to help where we can.
              </p>

              <form class="contact-form"
                action="https://formspree.io/yourexclusivebuildltd@gmail.com"
                method="POST">
                <input type="text" name="name" placeholder="Your Name">
                <input type="email" name="email" placeholder="Your email">
                <textarea name="message" placeholder="Message"></textarea>
                <input type="submit" value="Send">
              </form>
            </div>

            <div class="contact__img"></div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__content inner-content">
        <section class="footer__contact">
          <strong>Find us on:</strong><br />
          <a href="https://www.facebook.com/yourexclusivebuild/">Facebook</a><br />
          <br />
          <strong>Contact us at:</strong><br />
          <a href="mailto:yourexclusivebuildltd@gmail.com">yourexclusivebuildltd@gmail.com</a><br />
          <a href="tel:07825588356">07825588356</a>
        </section>

        <section class="footer__address">
          <strong>Your Exclusive Build Ltd</strong><br />
          8 Sycamore Drive<br />
          East Grinstead<br />
          West Sussex<br />
          RH19 3UJ<br />
          United Kingdom
        </section>
      </div>
    </footer>
  </body>
</html>
