<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <meta name="Description" content="Your Exlcusive Build Ltd provide domestic
    building services in the West Sussex area. Services include: Extensions,
    house renovations, loft conversions, patios, driveways, fencing, landscaping
    and bathrooms.">
    <title>Thank You | Your Exclusive Build Ltd</title>

    <link rel="stylesheet" media="all" href="/styles/main.css">
    <!-- TODO: Make this async -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body id="home">
    {{> ./partials/nav.hbs}}

    <main>
      <section>
        <div class="inner-content">
          <h2>Thank You</h2>

          <p>
            We will respond to your message as quickly as possible.
          </p>

          <p>
            Should you need to get in touch more urgently, please feel free
            to call us on <a href="tel:07825588356">07825588356</a>.
          </p>

          <p>
            <a href="/#home" class="button">Go Back</a>
          </p>
        </div>
      </section>
    </main>

    {{> ./partials/footer.hbs}}
  </body>
</html>
